<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= username%></title>
</head>
<body>
    <h1>Dashboard</h1>
    <hr>
    <h2>Titles are:</h2>

    <ul>
        <% for (var i = 0; i < tags.length; i++) { %>
        <li>
                <%= tags[i]%>
        </li>
        <% } %>
    </ul>
    <a href="/title"><h1>Add more Tags/title</h1></a>
    <a href="/logout"><h1>Logout</h1></a>
</body>
</html>