<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <hr>

    <% if (msg.length > 0) { %>
    <% for (let m of msg) {%>
    <h2><%= m%></h2>
    <%}%>
    <% }%>


    <form action="/login" method="post">
        Username: <input type="text" name="email" placeholder="Username..."> <br> <br>
        Password: <input type="password" name="password" placeholder="Password..." id=""> <br><br>
        <input type="submit" value="Login">
    </form>
    <hr>
</body>

</html>