<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add title</title>
</head>

<body>
    <h1> Add title here</h1>
    <hr>

    <button id='add'>Add more</button>
    <br>
    <br>
    <form action="/title" method="post" id="form">

        Add Title: <input type="text" name="title" placeholder="Add Title here">
        <br>
        <input type="submit" value="submit">
    </form>
    <hr>
    <script>
        btn = document.getElementById('add');
        btn.addEventListener("click", () => {
            document.getElementById("form").innerHTML = 'Add Titl';
        });
    </script>
</body>

</html>