<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add title</title>
</head>

<body>
    <h1> Add title here <%= user.email%></h1>
    <hr>
    <button id='add'>Add more</button>
    <br>
    <br>
    <form action="/title" method="post" id="form">
        <div id="container">
            Add Title: <input type="text" name="title" placeholder="Add Title here">
            <br>
            <br>
            <input type="hidden" name="id" value="<%= user.id%>">
        </div>
        <input type="submit" value="submit">
    </form>
    <hr>
    <a href="/"><h1>See title</h1></a>
    <a href="/logout"><h1>Logout</h1></a>
    <script src="/js/title.js"></script>
</body>

</html>